.header {

  .artist-description {
    padding: 250px 0 223px 0;

    .wrapper {

      .artist-description-hello {
        .artist-description-hello-title {
          margin-bottom: 16px;
        }

        .artist-description-hello-text {
          margin-bottom: 48px;
        }
      }

      .artist-description-buttons {
        display: flex;
        gap: 24px;

        .artist-description-btn {
          width: 200px;
          text-align: left;
        }

        .icon {
          filter: invert(1);
          margin-right: 16px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}