.popular {

  .wrapper {
    box-sizing: content-box;
    padding-top: 100px;

    .popular-title {
      margin-bottom: 48px;
    }

    .popular-list {
      display: flex;
      flex-wrap: wrap;

      .popular-track {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-bottom: 25px;
        margin-right: 50px;

        &:nth-child(2) {
          margin-right: 0;
        }

        &:nth-child(4) {
          margin-right: 0;
        }

        &:nth-child(5) {
          margin-bottom: 0;
        }

        &:nth-child(6) {
          margin-right: 0;
          margin-bottom: 0;
        }

        .music-image {
          width: 55px;
          height: 55px;
        }

        .track-info {
          width: 480px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}