.header {
  .artist-description {
    padding: 250px 0 223px;

    .wrapper {
      .artist-description-hello {
        .artist-description-hello-title {
          margin-bottom: 16px;
        }

        .artist-description-hello-text {
          margin-bottom: 48px;
        }
      }

      .artist-description-buttons {
        display: flex;
        gap: 24px;

        .artist-description-btn {
          width: 200px;

          text-align: left;
        }

        .icon {
          width: 20px;
          height: 20px;
          margin-right: 16px;

          filter: invert(1);
        }
      }
    }
  }
}
