.discography {

  .wrapper {
    box-sizing: content-box;
    padding-top: 100px;

    .discography-title {
      margin-bottom: 48px;
    }

    .discography-list {
      display: flex;
      flex-wrap: wrap;

      .discography-item {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 25px;
        margin-right: 50px;

        &:nth-child(4) {
          margin-right: 0;
        }

        &:nth-child(5) {
          margin-bottom: 0;
        }

        &:nth-child(6) {
          margin-right: 0;
          margin-bottom: 0;
        }

        .discography-item-image {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}