.footer {
  position: relative;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .wrapper {
    box-sizing: content-box;

    .footer-info {
      display: flex;
      gap: 40px;
      padding: 62px 0 72px 0;

      .footer-info-item {
        width: 270px;

        .fotter-info-item-list {
          margin-top: 15px;
        }
      }
    }

    .footer-info-item-social {

      .fotter-info-item-social-list {
        margin-top: 20px;

        .footer-info-item-social-link {
          display: inline-block;
          margin-right: 23px;
        }
      }
    }

    .footer-low-menu {
      padding: 40px 0 50px 0;

      .footer-low-menu-list {
        display: flex;
        gap: 16px;
      }
    }
  }
}

.fotter-info-item-title {
  @include text (18px, 27px, 700)
}

.line {
  position: relative;
  width: 100vw;
  border: 1px solid #CACACA;
}