.news {
  .wrapper {
    box-sizing: content-box;
    padding-top: 100px;

    .subscription-title {
      margin-bottom: 48px;

      text-align: center;
    }

    .news-list {
      display: flex;
      flex-direction: column;
      gap: 65px;

      .news-item {
        display: flex;
        gap: 50px;

        .news-image {
          width: 575px;
          height: 286px;
        }

        .news-body {
          .news-head {
            .news-item-title {
              margin-bottom: 30px;
            }

            .news-item-text {
              margin-bottom: 24px;
            }
          }

          .news-footer {
            .news-author {
              display: flex;
              gap: 16px;
              align-items: center;
              margin-bottom: 48px;

              .news-author-avatar {
                width: 19px;
                height: 19px;
              }
            }

            .news-button {
              padding: 16px 30px;

              color: $main-txt-color;

              border: 1px solid $main-txt-color;
              border-radius: 5px;
            }
          }
        }
      }

      .second {
        flex-direction: row-reverse;
      }
    }
  }
}
