.subscription {
  .wrapper {
    flex-direction: column;
    box-sizing: content-box;
    padding-top: 100px;

    @include flex-align-center;

    .subscription-title {
      margin-bottom: 48px;

      text-align: center;
    }

    .subscription-list {
      display: flex;
      gap: 50px;

      .subscription-list-item {
        width: 100%;
        max-width: 368.2px;
        height: 100%;
        max-height: 615px;
        padding: 22px 24px 64px;

        text-align: center;

        border-radius: 1rem;

        .subscription-list-item-title {
          margin-bottom: 194px;
        }

        .pricing-value {
          display: flex;
          gap: 16px;
          justify-content: center;

          line-height: 1em;
        }

        .subscription-button {
          width: 100%;
          margin: 40px 0 64px;
          padding: 20px 0;

          background-color: inherit;
          border: 1px solid $white;
        }
      }
    }

    .subscription-footer {
      margin-top: 40px;

      text-align: center;
    }
  }
}

.bg-1 {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-2 {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-3 {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}
