@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  color: #cacaca;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  background-color: #08020d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:active,
a:focus {
  margin: 0;
  padding: 0;
  color: #cacaca;
  text-decoration: none;
  outline: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  vertical-align: top;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

@media (max-width: 1239.98px) {
  .wrapper {
    max-width: 414px;
    margin: 0 auto;
    padding: 0 20px;
  }
  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}
.tx-7 {
  font-weight: 400;
  font-size: 64px;
  line-height: 96px;
}

.tx-6 {
  font-weight: 400;
  font-size: 56px;
  line-height: 84px;
}

.tx-5 {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.tx-4 {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
}

.tx-3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.tx-2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.tx-form {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15px;
}

.tx-sm {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
}

.tx-sm-700 {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 19px;
}

.tx-nav {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.tx-author-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}

.btn {
  padding: 21px 30px;
  border-radius: 5px;
}

.color-white {
  color: #fff;
}

.color-lite {
  color: #e0e0e0;
}

.color-orange {
  color: #f89202;
}

.bg-purple {
  background-color: #5328a1;
}

.bg-broun {
  background-color: #95390c;
}

.color-main {
  color: black;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.tx-up {
  text-transform: uppercase;
}

.tx-capitalize {
  text-transform: capitalize;
}

.form-border {
  background-color: inherit;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.main-bg {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.artist-bg {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.header .head {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .head .wrapper {
  position: absolute;
  top: 25px;
  justify-content: space-between;
  max-height: 25px;
  display: flex;
  align-items: center;
}
.header .head .wrapper .nav-page {
  display: flex;
  align-items: center;
}
.header .head .wrapper .nav-page .logo {
  display: flex;
  align-items: center;
}
.header .head .wrapper .nav-page .logo .logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.header .head .wrapper .nav-page .logo .logo-name {
  margin-right: 90px;
}
.header .head .wrapper .nav-page .nav-list {
  display: flex;
  gap: 24px;
}
.header .head .wrapper .nav-page .nav-list .nav-item a:hover {
  color: #fff;
}
.header .head .wrapper .search .search-input {
  width: 248px;
  padding: 5px 0 5px 10px;
  color: #757575;
  background-color: #3c3b3d;
  border-radius: 50px;
}
.header .description {
  padding: 200px 0;
}
.header .description .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .description .wrapper .description-hello {
  text-align: center;
}
.header .description .wrapper .description-hello .subtitle {
  margin-bottom: 31px;
}
.header .description .wrapper .description-hello .description-hello-text {
  margin-bottom: 17px;
}
.header .description .wrapper .description-form {
  max-width: 570px;
}
.header .description .wrapper .description-form .case {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.header .description .wrapper .description-form .case .description-input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 22.24px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.header .description .wrapper .description-form .case .description-input::placeholder {
  color: #fff;
}
.header .description .wrapper .description-form .description-btn {
  width: 100%;
  background-color: #34c176;
}

.subscription .wrapper {
  flex-direction: column;
  box-sizing: content-box;
  padding-top: 100px;
  display: flex;
  align-items: center;
}
.subscription .wrapper .subscription-title {
  margin-bottom: 48px;
  text-align: center;
}
.subscription .wrapper .subscription-list {
  display: flex;
  gap: 50px;
}
.subscription .wrapper .subscription-list .subscription-list-item {
  width: 100%;
  max-width: 368.2px;
  height: 100%;
  max-height: 615px;
  padding: 22px 24px 64px;
  text-align: center;
  border-radius: 1rem;
}
.subscription .wrapper .subscription-list .subscription-list-item .subscription-list-item-title {
  margin-bottom: 194px;
}
.subscription .wrapper .subscription-list .subscription-list-item .pricing-value {
  display: flex;
  gap: 16px;
  justify-content: center;
  line-height: 1em;
}
.subscription .wrapper .subscription-list .subscription-list-item .subscription-button {
  width: 100%;
  margin: 40px 0 64px;
  padding: 20px 0;
  background-color: inherit;
  border: 1px solid #fff;
}
.subscription .wrapper .subscription-footer {
  margin-top: 40px;
  text-align: center;
}

.bg-1 {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-2 {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-3 {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.news .wrapper {
  box-sizing: content-box;
  padding-top: 100px;
}
.news .wrapper .subscription-title {
  margin-bottom: 48px;
  text-align: center;
}
.news .wrapper .news-list {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.news .wrapper .news-list .news-item {
  display: flex;
  gap: 50px;
}
.news .wrapper .news-list .news-item .news-image {
  width: 575px;
  height: 286px;
}
.news .wrapper .news-list .news-item .news-body .news-head .news-item-title {
  margin-bottom: 30px;
}
.news .wrapper .news-list .news-item .news-body .news-head .news-item-text {
  margin-bottom: 24px;
}
.news .wrapper .news-list .news-item .news-body .news-footer .news-author {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 48px;
}
.news .wrapper .news-list .news-item .news-body .news-footer .news-author .news-author-avatar {
  width: 19px;
  height: 19px;
}
.news .wrapper .news-list .news-item .news-body .news-footer .news-button {
  padding: 16px 30px;
  color: #cacaca;
  border: 1px solid #cacaca;
  border-radius: 5px;
}
.news .wrapper .news-list .second {
  flex-direction: row-reverse;
}

.app .wrapper {
  box-sizing: content-box;
  margin-bottom: 100px;
  padding-top: 100px;
}
.app .wrapper .app-title {
  margin-bottom: 48px;
  text-align: center;
}
.app .wrapper .app-description {
  display: flex;
}
.app .wrapper .app-description .app-info {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}
.app .wrapper .app-description .app-info .app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 131px;
  height: 53px;
  background-color: #95390c;
  border-radius: 32px;
}
.app .wrapper .app-description .app-image {
  flex: 0 1 50%;
  max-width: 333px;
  height: 278px;
  margin: 0 auto;
}

.footer {
  position: relative;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer .wrapper {
  box-sizing: content-box;
}
.footer .wrapper .footer-info {
  display: flex;
  gap: 40px;
  padding: 62px 0 72px;
}
.footer .wrapper .footer-info .footer-info-item {
  width: 270px;
}
.footer .wrapper .footer-info .footer-info-item .fotter-info-item-list {
  margin-top: 15px;
}
.footer .wrapper .footer-info-item-social .fotter-info-item-social-list {
  margin-top: 20px;
}
.footer .wrapper .footer-info-item-social .fotter-info-item-social-list .footer-info-item-social-link {
  display: inline-block;
  margin-right: 23px;
}
.footer .wrapper .footer-low-menu {
  padding: 40px 0 50px;
}
.footer .wrapper .footer-low-menu .footer-low-menu-list {
  display: flex;
  gap: 16px;
}

.fotter-info-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.line {
  position: relative;
  width: 100vw;
  border: 1px solid #cacaca;
}

@media (max-width: 1239.98px) {
  .header .head .wrapper {
    display: block;
    width: 100%;
  }
  .header .head .wrapper .nav-page {
    display: block;
  }
  .header .head .wrapper .nav-page .logo {
    margin-bottom: 17px;
  }
  .header .head .wrapper .nav-page .logo .logo-name {
    margin-right: 0;
  }
  .header .head .wrapper .nav-page .nav-list {
    display: block;
    margin-bottom: 15px;
  }
  .header .head .wrapper .nav-page .nav-list .nav-item a {
    font-weight: 700;
  }
  .header .head .wrapper .search .search-input {
    width: 100%;
    padding: 5px 0 5px 10px;
  }
  .header .description {
    width: 100%;
    padding: 248px 0 200px;
  }
  .header .description .wrapper .description-hello {
    box-sizing: content-box;
  }
  .header .description .wrapper .description-hello .subtitle {
    margin-bottom: 16px;
  }
  .header .description .wrapper .description-hello .description-hello-text {
    margin-bottom: 16px;
  }
  .header .description .wrapper .description-form {
    width: 100%;
    max-width: 100%;
  }
  .header .description .wrapper .description-form .case {
    flex-direction: column;
  }
  .header .description .wrapper .description-form .case .description-input {
    width: 100%;
  }
  .header .description .wrapper .description-form .description-btn {
    width: 100%;
  }
}
@media (max-width: 1239.98px) {
  .subscription .wrapper {
    box-sizing: border-box;
  }
  .subscription .wrapper .subscription-title {
    margin-bottom: 49px;
  }
  .subscription .wrapper .subscription-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .subscription .wrapper .subscription-list .subscription-list-item {
    width: 100%;
    max-width: 374px;
    height: 100%;
    max-height: 595px;
    padding: 16px 24px 64px;
  }
  .subscription .wrapper .subscription-list .subscription-list-item .subscription-list-item-title {
    margin-bottom: 200px;
    font-weight: 400;
  }
  .subscription .wrapper .subscription-footer {
    width: 100%;
    max-width: 374px;
    margin-top: 41px;
  }
  .bg-1 {
    background-image: url("../images/subscribe_1.png");
    background-position: top;
    background-size: cover;
  }
  .bg-2 {
    background-image: url("../images/subscribe_2.png");
    background-position: top;
    background-size: cover;
  }
  .bg-3 {
    background-image: url("../images/subscribe_3.png");
    background-position: top;
    background-size: cover;
  }
}
@media (max-width: 1239.98px) {
  .news .wrapper {
    box-sizing: border-box;
  }
  .news .wrapper .news-list .news-item {
    flex-direction: column;
  }
  .news .wrapper .news-list .news-item .news-image {
    width: 374px;
    height: 186px;
  }
  .news .wrapper .news-list .news-item .news-body .news-head .news-item-title {
    margin-bottom: 16px;
    font-weight: 400;
  }
  .news .wrapper .news-list .second {
    flex-direction: column;
  }
}
@media (max-width: 1239.98px) {
  .app .wrapper {
    box-sizing: border-box;
  }
  .app .wrapper .app-description {
    flex-direction: column-reverse;
  }
  .app .wrapper .app-description .app-info {
    flex: 0 0 auto;
    margin-top: 16px;
    padding-top: 0;
  }
}
@media (max-width: 1239.98px) {
  .footer .wrapper {
    box-sizing: border-box;
  }
  .footer .wrapper .footer-info {
    flex-direction: column;
    gap: 30px;
    padding: 62px 0 72px;
  }
  .footer .wrapper .footer-info .footer-info-item {
    width: 100%;
  }
  .footer .wrapper .footer-info .footer-info-item .fotter-info-item-list {
    margin-top: 16px;
  }
  .footer .wrapper .footer-low-menu .footer-low-menu-list {
    flex-direction: column;
  }
}
.header .artist-description {
  padding: 250px 0 223px;
}
.header .artist-description .wrapper .artist-description-hello .artist-description-hello-title {
  margin-bottom: 16px;
}
.header .artist-description .wrapper .artist-description-hello .artist-description-hello-text {
  margin-bottom: 48px;
}
.header .artist-description .wrapper .artist-description-buttons {
  display: flex;
  gap: 24px;
}
.header .artist-description .wrapper .artist-description-buttons .artist-description-btn {
  width: 200px;
  text-align: left;
}
.header .artist-description .wrapper .artist-description-buttons .icon {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  filter: invert(1);
}

.popular .wrapper {
  box-sizing: content-box;
  padding-top: 100px;
}
.popular .wrapper .popular-title {
  margin-bottom: 48px;
}
.popular .wrapper .popular-list {
  display: flex;
  flex-wrap: wrap;
}
.popular .wrapper .popular-list .popular-track {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 25px;
}
.popular .wrapper .popular-list .popular-track:nth-child(2) {
  margin-right: 0;
}
.popular .wrapper .popular-list .popular-track:nth-child(4) {
  margin-right: 0;
}
.popular .wrapper .popular-list .popular-track:nth-child(5) {
  margin-bottom: 0;
}
.popular .wrapper .popular-list .popular-track:nth-child(6) {
  margin-right: 0;
  margin-bottom: 0;
}
.popular .wrapper .popular-list .popular-track .music-image {
  width: 55px;
  height: 55px;
}
.popular .wrapper .popular-list .popular-track .track-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 480px;
}

.discography .wrapper {
  box-sizing: content-box;
  padding-top: 100px;
}
.discography .wrapper .discography-title {
  margin-bottom: 48px;
}
.discography .wrapper .discography-list {
  display: flex;
  flex-wrap: wrap;
}
.discography .wrapper .discography-list .discography-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-right: 50px;
  margin-bottom: 25px;
}
.discography .wrapper .discography-list .discography-item:nth-child(4) {
  margin-right: 0;
}
.discography .wrapper .discography-list .discography-item:nth-child(5) {
  margin-bottom: 0;
}
.discography .wrapper .discography-list .discography-item:nth-child(6) {
  margin-right: 0;
  margin-bottom: 0;
}
.discography .wrapper .discography-list .discography-item .discography-item-image {
  width: 250px;
  height: 250px;
}

.similar .wrapper {
  box-sizing: content-box;
  margin-bottom: 100px;
  padding-top: 100px;
}
.similar .wrapper .similar-title {
  margin-bottom: 48px;
}
.similar .wrapper .similar-list {
  display: flex;
  flex-wrap: wrap;
}
.similar .wrapper .similar-list .similar-list-item {
  width: 250px;
  margin-right: 50px;
  margin-bottom: 25px;
}
.similar .wrapper .similar-list .similar-list-item:nth-child(4) {
  margin-right: 0;
}
.similar .wrapper .similar-list .similar-list-item:nth-child(5) {
  margin-bottom: 0;
}
.similar .wrapper .similar-list .similar-list-item:nth-child(6) {
  margin-bottom: 0;
}
.similar .wrapper .similar-list .similar-list-item:nth-child(7) {
  margin-bottom: 0;
}
.similar .wrapper .similar-list .similar-list-item:nth-child(8) {
  margin-right: 0;
  margin-bottom: 0;
}
.similar .wrapper .similar-list .similar-list-item .similar-image {
  width: 250px;
  height: 250px;
}
.similar .wrapper .similar-list .similar-list-item .similar-info {
  margin-top: 18px;
  text-align: center;
}

@media (max-width: 1239.98px) {
  .header .artist-description {
    padding: 225px 0;
  }
  .header .artist-description .wrapper .artist-description-buttons {
    flex-direction: column;
  }
}
@media (max-width: 1239.98px) {
  .popular .wrapper {
    box-sizing: border-box;
  }
  .popular .wrapper .popular-list {
    display: flex;
    flex-wrap: wrap;
  }
  .popular .wrapper .popular-list .popular-track {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .popular .wrapper .popular-list .popular-track:nth-child(5) {
    margin-bottom: 25px;
  }
  .popular .wrapper .popular-list .popular-track:nth-child(6) {
    margin-bottom: 0;
  }
  .popular .wrapper .popular-list .popular-track .track-info {
    width: 100%;
  }
}
@media (max-width: 1239.98px) {
  .discography .wrapper {
    box-sizing: border-box;
  }
  .discography .wrapper .discography-list .discography-item {
    max-width: 137px;
    margin-right: 50px;
    margin-bottom: 25px;
  }
  .discography .wrapper .discography-list .discography-item:nth-child(2) {
    margin-right: 0;
  }
  .discography .wrapper .discography-list .discography-item:nth-child(4) {
    margin-right: 0;
  }
  .discography .wrapper .discography-list .discography-item:nth-child(5) {
    margin-bottom: 0;
  }
  .discography .wrapper .discography-list .discography-item:nth-child(6) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .discography .wrapper .discography-list .discography-item .discography-item-image {
    width: 137px;
    height: 137px;
  }
}
@media (max-width: 1239.98px) {
  .similar .wrapper {
    box-sizing: border-box;
  }
  .similar .wrapper .similar-list {
    display: flex;
    flex-wrap: wrap;
  }
  .similar .wrapper .similar-list .similar-list-item {
    width: 137px;
    margin-right: 50px;
    margin-bottom: 25px;
  }
  .similar .wrapper .similar-list .similar-list-item:nth-child(2) {
    margin-right: 0;
  }
  .similar .wrapper .similar-list .similar-list-item:nth-child(4) {
    margin-right: 0;
  }
  .similar .wrapper .similar-list .similar-list-item:nth-child(5) {
    margin-bottom: 25px;
  }
  .similar .wrapper .similar-list .similar-list-item:nth-child(6) {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .similar .wrapper .similar-list .similar-list-item:nth-child(7) {
    margin-bottom: 0;
  }
  .similar .wrapper .similar-list .similar-list-item:nth-child(8) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .similar .wrapper .similar-list .similar-list-item .similar-image {
    width: 137px;
    height: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
