@media (max-width: 1239.98px) {
  .popular {
    .wrapper {
      box-sizing: border-box;

      .popular-list {
        display: flex;
        flex-wrap: wrap;

        .popular-track {
          display: flex;
          gap: 15px;
          align-items: center;
          width: 100%;
          margin-right: 0;
          margin-bottom: 25px;

          &:nth-child(5) {
            margin-bottom: 25px;
          }

          &:nth-child(6) {
            margin-bottom: 0;
          }

          .track-info {
            width: 100%;
          }
        }
      }
    }
  }
}
