@media (max-width: 1239.98px) {
  .footer {

    .wrapper {
      box-sizing: border-box;

      .footer-info {
        flex-direction: column;
        gap: 30px;
        padding: 62px 0 72px 0;

        .footer-info-item {
          width: 100%;
        }
      }

      .footer-low-menu {

        .footer-low-menu-list {
          flex-direction: column;
        }
      }
    }
  }
}