@media (max-width: 1239.98px) {
  .header {
    .head {
      .wrapper {
        display: block;
        width: 100%;

        .nav-page {
          display: block;

          .logo {
            margin-bottom: 17px;

            .logo-name {
              margin-right: 0;
            }
          }

          .nav-list {
            display: block;
            margin-bottom: 15px;

            .nav-item {
              & a {
                font-weight: 700;
              }
            }
          }
        }

        .search {
          .search-input {
            width: 100%;
            padding: 5px 0 5px 10px;
          }
        }
      }
    }

    .description {
      width: 100%;
      padding: 248px 0 200px;

      .wrapper {
        .description-hello {
          box-sizing: content-box;

          .subtitle {
            margin-bottom: 16px;
          }

          .description-hello-text {
            margin-bottom: 16px;
          }
        }

        .description-form {
          width: 100%;
          max-width: 100%;

          .case {
            flex-direction: column;

            .description-input {
              width: 100%;
            }
          }

          .description-btn {
            width: 100%;
          }
        }
      }
    }
  }
}
