@mixin text ($fz, $lh, $fw) {
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
}

@mixin border {
  background-color: inherit;
  border: 2px solid #CACACA;
  border-radius: 3px;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

body {
  color: $main-txt-color;
  @include text (18px, 1.5, 400);
  font-family: Roboto, sans-serif;
  background-color: $main-bg-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a:visited,
a:hover {
  text-decoration: none;
}

input {
  outline: none;
}

a,
a:active,
a:focus {
  padding: 0;
  margin: 0;
  color: $main-txt-color;
  text-decoration: none;
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;

  border: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: top;
}

h1 {
  @include text (60px, 90px, 700);
}

h2 {
  @include text (38px, 57px, 700);
}

h3 {
  @include text (24px, 45px, 400);
}

h4 {
  @include text (18px, 27px, 700);
}

@media (max-width: 1239.98px) {
  .wrapper {
    max-width: 414px;
    padding: 0 20px;
    margin: 0 auto;
  }

  h1 {
    @include text (30px, 45px, 700);
  }

  h2 {
    @include text (18px, 27px, 700);
  }

  h3 {
    @include text (16px, 24px, 700);
  }

  h4 {
    @include text (18px, 24px, 700);
  }
}

.tx-7 {
  @include text (64px, 96px, 400);
}

.tx-6 {
  @include text (56px, 84px, 400);
}

.tx-5 {
  @include text (48px, 72px, 400);
}

.tx-4 {
  @include text (40px, 60px, 400);
}

.tx-3 {
  @include text (32px, 48px, 400);
}

.tx-2 {
  @include text (24px, 36px, 400);
}

.tx-1 {
  @include text (16px, 24px, 400);
}

.tx-form {
  font-family: Arial, sans-serif;
  @include text (13.3px, 15px, 400);
}

.tx-sm {
  @include text (12.8px, 19px, 400);
}

.tx-sm-700 {
  @include text (12.8px, 19px, 700);
}

.tx-nav {
  @include text (11px, 16px, 400);
}

.btn {
  border-radius: 5px;
  padding: 20px 30px;
}

.color-white {
  color: $white;
}

.color-lite {
  color: $light;
}

.wrapper {
  padding: 0 20px;
  margin: 0 auto;
  width: 1200px;
}

.tx-up {
  text-transform: uppercase;
}

.tx-capitalize {
  text-transform: capitalize;
}

.form-border {
  border: 2px solid #CACACA;
  border-radius: 3px;
  background-color: inherit;
}

.btn {
  border-radius: 5px;
}